@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de recuperación de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor compruebe su email para recuperar su contraseña.
</p>

