
@{
    ViewData["Title"] = "Error404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-4">
                            <img class="mb-4 img-error" src="assets/img/error-404-monochrome.svg" />
                            <p class="lead">La URL no es accesible por el momento.</p>
                            <a href="index.html">
                                <i class="fas fa-arrow-left mr-1"></i>
                                Volver al inicio
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutError_footer">
        <footer class="bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Grupo3 (.Net Reus) 2021</div>
                    <div>
                        <a href="#">Politica de privacidad</a>
                        &middot;
                        <a href="#">Terminos y Condiciones</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>


