@{ ViewData["Title"] = "Home Page"; }
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <ul class="table-filter">
            </ul>
        </div>
        <div class="col-10">
            <div id="trabajadoresGrid"></div>
            <form class="form-inline d-none" id="fichaTrabajador" asp-area="" asp-controller="Paginas" asp-action="FichaTrabajador">
                <button type="submit" class="nav-link btn btn-link text-dark d-none"></button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        callToken();
    </script>
    
}
