@{ ViewData["Title"] = "Home Page"; }
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="text-center">

    <div id="trabajadoresGrid"></div>
</div>

@if (SignInManager.IsSignedIn(User))
{
    @section Scripts {
        <script>
            if (sessionStorage.getItem("token")) {
                GETTrabajadores();
            }
        </script>
    }
}

