@{ ViewData["Title"] = "Home Page"; }
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <nav id="navSecundario" class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-around">
        <i class="fa-bars fa"></i><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trabajadores</a>
        <form></form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <button class="btn btn-outline-primary btn-sm" type="submit" style="margin-right: 5px;">Grupo Castilla (No tocar)</button>
            <button class="btn btn-outline-primary btn-sm" type="submit">@DateTime.Now</button>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <ul class="table-filter"></ul>
            </div>
            <div class="col-10">
                <div id="trabajadoresGrid"></div>
                <form class="form-inline d-none" id="fichaTrabajador" asp-area="" asp-controller="Paginas" asp-action="FichaTrabajador">
                    <button type="submit" class="nav-link btn btn-link text-dark d-none"></button>
                </form>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                callToken();
            });
        </script>
    }
