@{ ViewData["Title"] = "Home Page"; }
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="text-center">

    <div id="trabajadoresGrid"></div>
</div>

@section Scripts {
    <script>
        //setTimeout(GETTrabajadores, 300);
        callToken();
            
    </script>
}


