@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de restablecimiento de contraseña";
}

<div class="container-fluid">
    <div class="row justify-content-center" style="margin-top: 5%">

        <h1>@ViewData["Title"]</h1>
        <p>
            Su contraseña se ha restablecido. Por favor haga <a asp-page="./Login">clic aquí</a> para iniciar sesión.
        </p>
    </div>
</div>