@charset "UTF-8";

/* VIKSEN----JOAN----IAGO----ADRIAN */

/* pagina principal */
#superior {
    background: linear-gradient(to right, rgb(23, 23, 104), rgb(75, 75, 255));
}
#sidenavAccordion {
    max-width: 70px;
}

#sidebarToggle, .icosSuperiores {
    font-size: 25px;
}

#Clogo {
    margin-left: 10px;
}

.menu-icon {
    width: 35px;
    height: 35px;
    color: white;
}

.hov:hover {
    background-color: rgb(66, 66, 228);
    border-left: whitesmoke 5px solid;
}
/* fin pagina principal */

/* login */
#LoginLogo {
    max-width: 400px;
}

#loginFondo {
    background: linear-gradient(to bottom, rgb(28, 28, 189), whitesmoke);
}
/* fin login */

/* registro */
#registerFondo {
    background: linear-gradient(to bottom, rgb(28, 28, 189), whitesmoke);
}
/* fin registro */

/* tabla */
tr:hover {
    background-color: rgb(215, 219, 253);
}
/* fin tabla */

/* Filtro unidad organizativa */

.table-filter {
    list-style-type: none;
    height: 700px;
    overflow: auto;
}

.table-filter > li {
    color: lightseagreen;
    font-weight: 600;
    font-size: 14px;

    border: 1px solid lightgray;

    margin-bottom: 5px;
    padding: 10px;
}

    .table-filter > li:hover {
        color: white;
        border: 1px solid lightseagreen;
        background-color: lightseagreen;
    }

    .table-filter::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    .table-filter::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    .table-filter::-webkit-scrollbar-thumb {
        background-color: #F90;
        background-image: -webkit-linear-gradient(top, #212185 0%,#20b2aa 100%);
    }
    /* END Unidad organizativa*/